*{
  box-sizing: content-box;
  padding:0;
  margin:0;
}



.container{
  height: 980px;
  background-image: url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-james-wheeler-417074.jpg&fm=jpg) ;
  /* background-color: */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;

}


form{
  /* background-color: #ffffff;
  height: 450px; */
  width:30%;
  /* padding: 20px; */
  
}

.main{
margin-top: 250px;
background-color: #ffffff;
padding: 20px;
padding-bottom: 100px;
}

.step{
  opacity: 0.5;
  font-size: 0.8rem;
  font-weight: 500;
}

/* icon styling  */
.icons{
  display:flex;
  gap: 25px;
}

.google,
.facebook,
 .apple{
   height: 42px;
   width: 42px;
   align-items: center;
   font-size: 2rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   margin-top: 20px;

}

.google{
  color:blue ;
  border: 1px solid gray;
}

.facebook{
  color:blue ;
  font-size: 3rem;
}

.apple{

  color: #ffffff;
  background-color: black;


}



/* styling or */

.or {
 
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.hr1,
.hr2{
  width: 45%;
  opacity: 0.5;
}

.or_text{
  width: 10%;
  text-align: center;
}

.email{
  font-size:1rem;
  font-weight: 800;
  margin-top: 10px;
}





input{
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style:groove; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  /* border-bottom: 2px solid rgb(154, 185, 199); */
}

input:focus{
  border: none;
  border-bottom: 2px solid rgb(154, 185, 199);
  outline: none;

}

.pass_input{
  display:flex;
  align-items: center;
  justify-content: center;

}

button{
  font-weight: bold;
  color: #ffffff;
  width: 100px;
  height: 40px;
  background-color: rgb(27, 125, 238);
  border-radius: 20px;
  border-style: none;
  float: right;
  margin-top: 10px;
}


@media screen and (max-width:480px) {
  form{

    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: 0BB664;
    padding: 20px;
    height: 620px;
    width: 350px;
    border-style: none;
    opacity: 0.8;

  }
  }